<form [formGroup]="formSignin" >
    <p class="hint-text">Sign in with your social media account</p>
    <div class="form-group social-btn clearfix">
        <button type="button"  class="btn btn-danger pull-left" (click)="authentification.GoogleAuth()"><i class="fa fa-google-plus"></i> Google</button>
        <button type="button"  class="btn btn-info pull-right"  (click)="authentification.FacebookAuth()"><i class="fa fa-facebook"></i> Facebook</button>
    </div>
    <div class="or-seperator"><b>or</b></div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" formControlName="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Sign in" (click)="onSubmit(formSignin)">
    <div class="form-footer">
        <a href="/forgot-password">Forgot Your password?</a>
    </div>
</form>