<div class="card" style="width: 25rem;">
    <div class="card-body">
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate)">
            <div class="text-center">
                <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">               
            </div>
            
            <div class="form-group">
                <label for="">Select file to upload</label>
                <input type="file" accept="image/*" class="form-control" formControlName="imageUrl" (change)="showPreview($event)" #fileUploader>
                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Ce champ est obligatoire</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titre" formControlName="caption">
                <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">Ce champ est obligatoire</div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <select formControlName="category" class="form-control">
                            <option value="Appartement" selected>Appartement</option>
                            <option value="Laptop">Laptop</option>
                            <option value="Desktop">Desktop</option>
                            <option value="Vehicule">Vehicule</option>
                        </select>                        
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Prix du bien" formControlName="prix">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.prix.errors?.required">Ce champ est obligatoire</div>
                    </div>
                </div>                
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Faites la description du bien" formControlName="description" rows="3" cols="30"></textarea>
                <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">Ce champ est obligatoire</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <a routerLink="/image/list" class="btn btn-primary btn-block float-right"><i class="fa fa-home"></i> Go to Gallery</a>
                </div>
                <div class="form-group col-md-6">
                   <button type="submit" class="btn btn-success btn-block float-right"><i class="fa fa-save"></i> Submit</button>
                </div>
            </div>
            <div class="form-row"  *ngIf="showProgres">
                <i class="fa fa-spin fa-spin-2x fa-4x fa-circle-o-notch fa-fw text-danger float-right"></i>
            </div>
        </form>
    </div>
</div>